Xcursor.size:           48

URxvt*geometry:         120x30
URxvt*depth:            32

URxvt*buffered:         true
URxvt*cursorBlink:      false
URxvt*underlineColor:   purple


URxvt.internalBorder:   15
URxvt*font:             xft:Terminus:size=12

URxvt*borderless:       1
URxvt*scrollBar:        false
URxvt*loginShell:       true

Urxvt*secondaryScroll:  true
URxvt*saveLines:        5000
URxvt*termName:         rxvt-unicode
URxvt*iso14755:         false


! BEGIN PERL EXTENSIONS
URxvt.perl-ext-common:  default,resize-font,url-select,keyboard-select,selection-to-clipboard
URxvt.underlineURLs:    false
URxvt.urlLauncher:      /usr/bin/qutebrowser
URxvt.matcher.button:   1
! PERL URL SELECT
URxvt.url-select.underline: false
URxvt.url-select.launcher:  /usr/bin/qutebrowser
URxvt.keysym.M-e:       perl:url-select:select_next
! PERL KEYBOARD SELECT - CLIPBOARD
!URxvt.keyboard-select.clipboard: true
URxvt.keysym.M-d:       perl:keyboard-select:activate
! END PERL EXTENSIONS

*foreground:            #bbbbbb
*background:            #000000

!*fadeColor:             #ff0000
!*cursorColor:           #00bb00

!*pointerColorForeground:#93a1a1
!*pointerColorBackground:#073642

!! black dark/light
*color0:                #000000
*color8:                #444444
!! red dark/light
*color1:                #aa0000
*color9:                #ff1a0f
!! green dark/light
*color2:                #009000
*color10:               #009c00
!! yellow dark/light
*color3:                #ffa40f
*color11:               #ffff00
!! blue dark/light
*color4:                #4444ff
*color12:               #26bbff
!! magenta dark/light
*color5:                #d33682
*color13:               #ff71c4
!! cyan dark/light
*color6:                #00bdaa
*color14:               #00d0ff
!! white dark/light
*color7:                #cccccc
*color15:               #eeeeee
!!
rofi.modi:              run,ssh
